/* variabler */
:root {
  --nav_height: 80px;
}

* {
  box-sizing: border-box;
  font-family: poppins;
  padding: 0;
  margin: 0;
}

html, body {
  font-size: 100%;

  margin: 0;
  height: 100%;
  background-color: whitesmoke;
}

h1{
  color: white;
  font-size: 8em;
  text-align: center;
}

h2 {
  font-size: 1.875em;

}

h3 {
  font-size: 1.3em;
}

p {
  font-size: 1em;
}

/* Nav och meny */

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: #00BAF0;
  background: black;
  color: #FFF;

  height: var(--nav_height);
  padding: 1em;
  padding-right: 25%;
  padding-left: 25%;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* Meny over */


.header_link {

  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.header_link:hover {
  color: rgb(177, 177, 177);
}


#logo {
  width: 70px;
  height: auto;
}

.index_sections {
  height: 94vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#titel
{
  background-image: url("/img/orchestra.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* index om oss */

.inner_box {
  width: 70%;
  height: 60%;
  position: relative;
}

.left_section {
  width: 50%;
  height: 100%;
}

.right_section {
  width: 50%;
  height: 100%;
}


/* index about section --------------------------------------- */

.about_section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  background-color: rgba(35, 35, 35, 1);
}

.left {
  height: 100%;
  width: 50%;

  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.left h2 {
  color: white;
}

.left p {
  color: white;
  text-align: center;

  margin-bottom: 5%;
}

.left button {
  background-color: purple;
  color: white;

  border: none;
  border-radius: 40px;

  text-align: center;
  text-decoration: none;

  font-size: 1.3em;

  padding: 15px 32px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.left button:hover {
  background-color: black;
}

.right {
  height: 100%;
  width: 50%;

  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right img {
  width: 90%;
  height: auto;
  border-radius: 10px;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* index about section end--------------------------------------- */

.konsert_boxer {
  height: 85vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.konsert_boxer h2 {
  margin-bottom: 1%;
}

.index_konserter {
  width: 90%;


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.konsert_box {
  width: 100%;
  height: 100%;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.konsert_box img {
  width: 100%
}

.konsert_box section {
  width: 100%;
  height: 50%;
  position: relative;
}

.konsert_box p {
  word-wrap: break-word;
  margin-bottom: 10px;
}

.konsert_box button {
  position: absolute;
  bottom: 0;
  left: -5px;
  width: 100%;

  margin: 5px;

  height: 2em;
  display: none;
  background-color: purple;
  color: white;

  border: none;

  text-align: center;
  text-decoration: bold;
  font-size: 1.2em;

  transition-duration: 0.4s;
  cursor: pointer;
}

.konsert_box button:hover {
  background-color: black;
}

.konsert_box:hover button {
  display: inline-block;
}



/* ----------------------------------------------- */

.index_hitta {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.index_hitta h2 {
  margin-bottom: 2%;
}

#maps {
  width: 90%;
  height: 80%;
  border-radius: 20px;
}

/* footer begin -------------------------------- */

footer {
  width: 100%;
  height: 25vh;

  background-color: black;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

footer section {
  display: flex;
  flex-direction: column;
}

footer p {
  color: white;
}

footer h3 {
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

#adress {
  margin-bottom: 10%;
}

#email {
  text-decoration: underline;
}
/* FOOOOOOOOOOOOOTER END*/

/* Swiper container stylng */
.swiper {
  display: none;
  width: 80%;
  height: 90%;
}
/*-----------------------------*/

/* om oss */
#grid_wrapper_om_oss {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 120vh;
  width: 100%;
  grid-template-areas: 
  "a1 a2 a3"
  "b1 b2 b3";
}

.om_oss_profil_inner {
  width: 90%;
  height: 80%;

  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: rgb(255, 255, 255);
  padding: 5%;
}

.om_oss_profil_inner img {
  width: 60%;
}

.om_oss_profil_outer {
  justify-content: center;
  align-items: center;
  display: flex;

}

#violin {
  grid-area: a1;
}

#cello {
  grid-area: a2;
}

#trumpet {
  grid-area: a3;
}

#trombon {
  grid-area: b1;
}

#saxofon1 {
  grid-area: b2;
}

#saxofon2 {
  grid-area: b3;
}


@media (max-width: 1000px) {

  /* om oss */
  #grid_wrapper_om_oss {
    grid-template-columns: 100%;
    grid-template-rows: minmax(400px, 1fr) 1fr 1fr 1fr 1fr 1fr;
    height: 600vh;
    grid-template-areas: 
    "a1"
    "a2"
    "a3"
    "b1"
    "b2"
    "b3"
  }
 
  /* om oss end ------------------------------ */

  .index_konserter {
    display: none;
  }

  .swiper {
    display: inline;
  }

  .konsert_box {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    padding: 1em;
  }

  .konsert_box button {
    display: inline;
  }

  .konsert_box section {
    height: 30vh;
  }

  .konsert_boxer {
    height: 80vh;
  }
}

/* Om oss */

/* Aktiveras om skärmen är mindre än 800 px ----------------------------------------------------------------------------*/
@media (max-width: 800px) {

  /*MAPs*/
  #maps {
    width: 100%;
  }

  .index_hitta {
    width: 90%;
  }


  .index_konserter {
    height: 90%;
    flex-direction: column;
    justify-content: space-around;

  }

  .konsert_box img {
    width: 100%;
  }


  /* about section */
  .about {
    flex-direction: column-reverse;
    gap: 5%;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 100%;
  }

  .about_section {
    width: 100%;
    height: 98vh;

  }

  .right img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  /* about section end*/

  .top-nav {
    padding: 1em;
  }
  
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: var(--nav_height);
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 80px;
    padding: 25px;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

