/* variabler */
:root {
  --nav_height: 80px;
}

* {
  box-sizing: border-box;
  font-family: poppins;
  padding: 0;
  margin: 0;
}

html, body {
  font-size: 100%;

  margin: 0;
  height: 100%;
  background-color: whitesmoke;
}

h1{
  color: white;
  font-size: 8em;
  text-align: center;
}

h2 {
  font-size: 1.875em;

}

h3 {
  font-size: 1.3em;
}

p {
  font-size: 1em;
}

/* Nav och meny */

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: #00BAF0;
  background: black;
  color: #FFF;

  height: var(--nav_height);
  padding: 1em;
  padding-right: 25%;
  padding-left: 25%;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* Meny over */


.header_link {

  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.header_link:hover {
  color: rgb(177, 177, 177);
}


#logo {
  width: 70px;
  height: auto;
}

.index_sections {
  height: 94vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#titel
{
  background-image: url("/img/orchestra.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Slideshow -------------------------------------------------------------------------------------- */

.inner_box {
  width: 70%;
  height: 60%;
  position: relative;
}

.slideshow_img {
  height: 100%;
  width: auto;
  -webkit-mask-image:-webkit-gradient(linear, left top, right top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

/* Hide the images by default */
.mySlides {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.left_section {
  width: 50%;
  height: 100%;
}

.right_section {
  width: 50%;
  height: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(35, 35, 35, 0.335);

}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.slideshow_title {

}

/* Slideshow -------------------------------------------------------------------------------------- */

/* index about section --------------------------------------- */

.about_section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  background-color: rgba(35, 35, 35, 1);
}

.left {
  height: 100%;
  width: 50%;

  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.left h2 {
  color: white;
}

.left p {
  color: white;
  text-align: center;

  margin-bottom: 5%;
}

.left button {
  background-color: purple;
  color: white;

  border: none;
  border-radius: 40px;

  text-align: center;
  text-decoration: none;

  font-size: 1.3em;

  padding: 15px 32px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.left button:hover {
  background-color: black;
}

.right {
  height: 100%;
  width: 50%;

  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right img {
  width: 90%;
  height: auto;
  border-radius: 10px;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* index about section end--------------------------------------- */

.konsert_boxer {
  height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.konsert_boxer h2 {
  margin-bottom: 1%;
}

.index_konserter {
  width: 90%;


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.konsert_box {
  width: 100%;
  height: 100%;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.konsert_box img {
  width: 100%
}

.konsert_box section {
  width: 100%;
  height: 50%;
  position: relative;
}

.konsert_box p {
  word-wrap: break-word;
}

.konsert_box button {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 5px;

  width: 100%;
  height: 2em;
  display: none;
  background-color: purple;
  color: white;

  border: none;

  text-align: center;
  text-decoration: bold;
  font-size: 1.2em;

  transition-duration: 0.4s;
  cursor: pointer;
}

.konsert_box button:hover {
  background-color: black;
}

.konsert_box:hover button {
  display: inline-block;
}



/* ----------------------------------------------- */

.index_hitta {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.index_hitta h2 {
  margin-bottom: 2%;
}

#maps {
  width: 90%;
  height: 80%;
  border-radius: 20px;
}

/* FOOOOOOOOOOOOOOTER */

footer {
  width: 100%;
  height: 25vh;

  background-color: black;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

footer section {
  display: flex;
  flex-direction: column;
}

footer p {
  color: white;
}

footer h3 {
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

#adress {
  margin-bottom: 10%;
}

#email {
  text-decoration: underline;
}
/* FOOOOOOOOOOOOOTER END*/


@media (max-width: 1000px) {
 
  /* Slider end ------------------------------ */

}

/* Aktiveras om skärmen är mindre än 800 px ----------------------------------------------------------------------------*/
@media (max-width: 800px) {

  /*MAPs*/
  #maps {
    width: 100%;
  }

  .index_hitta {
    width: 90%;
  }


  .konsert_boxer {
    height: 300vh;
  }
  .index_konserter {
    height: 90%;
    flex-direction: column;
    justify-content: space-around;

  }

  .konsert_box img {
    width: 100%;
  }

  .konsert_box {
    height: 33%;
  }

  /* about section */
  .about {
    flex-direction: column-reverse;
    gap: 5%;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 100%;
  }

  .about_section {
    width: 100%;
    height: 98vh;

  }

  .right img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  /* about section end*/

  .top-nav {
    padding: 1em;
  }
  
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: var(--nav_height);
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 80px;
    padding: 25px;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

